{% extends 'base.html' %}

{% block head %}
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
{% endblock head %}

{% block primary %}
    <div class="row">
        <div class="card card1">
            <div class="card-content">
                <h2 class="card-title">Twitter Scraper</h2>
                <h5 class="card-body">Retrieves Twitter data and displays the most relevant tweets based on the user input</h5>
                <a href="https://github.com/kietdiep/twitter-scraper" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card2">
            <div class="card-content">
                <h2 class="card-title">Stock Tracker</h2>
                <h5 class="card-body">Retrieves and visualizes stock data to show trends in a company's stock value over a given time period</h5>
                <a href="https://github.com/kietdiep/Stock_app" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card3">
            <div class="card-content">
                <h2 class="card-title">Soon To come</h2>
                <h5 class="card-body">More to come as I spend my time broadening my developing skills! Stay tuned to watch my growth</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card4">
            <div class="card-content">
                <h2 class="card-title">Soon To come</h2>
                <h5 class="card-body">More to come as I spend my time broadening my developing skills! Stay tuned to watch my growth</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        
        </div>
        
    </div>
{% endblock primary %}
