{% extends 'base.html' %}

{% block head %}
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
{% endblock head %}

{% block primary %}
    <div class="row">
        <div class="card card1">
            <div class="card-content">
                <h2 class="card-title">Twitter Scraper</h2>
                <h5 class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aspernatur blanditiis</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card2">
            <div class="card-content">
                <h2 class="card-title">Team Experience</h2>
                <h5 class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aspernatur blanditiis</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card3">
            <div class="card-content">
                <h2 class="card-title">Team Experience</h2>
                <h5 class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aspernatur blanditiis</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        <div class="card card4">
            <div class="card-content">
                <h2 class="card-title">Team Experience</h2>
                <h5 class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, aspernatur blanditiis</h5>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        
    </div>
{% endblock primary %}
